@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&display=swap");

#root {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}
@font-face {
  font-family: "tallowSansTC";
  src: url("./assets/fonts/TallowSansTC-Rg.ttf") format("truetype"),
    url("./assets/fonts/TallowSansTC-Rg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "tallowTC";
  src: url("./assets/fonts/TallowTC-Rg.ttf") format("truetype"),
    url("./assets/fonts/TallowTC-Rg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.groom-bride-name {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}

.montaser-arabic {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-style: normal;
}

.courgette {
  font-family: "Courgette", serif;
  font-weight: 400;
  font-style: normal;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

/* SCROLLBAR STYLE */
/* Customize scrollbar for webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f5e8d9; /* Beige color for the track */
}

::-webkit-scrollbar-thumb {
  background-color: #c8a2c8; /* Lilac color for the scrollbar handle */
  border-radius: 6px; /* Rounded corners for the scrollbar handle */
  border: 3px solid #f5e8d9; /* Adds padding around the handle with the same beige color */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c8a2c8 #f5e8d9;
}
